@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: 'Neue Montreal Regular';
    src: url('./assets/fonts/NeueMontreal/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Neue Montreal Medium';
    src: url('./assets/fonts/NeueMontreal/NeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Neue Montreal Bold';
    src: url('./assets/fonts/NeueMontreal/NeueMontreal-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  .glassBtn,
  .glassCard {
    background: #0f0f0f;
    border: 1px solid #373737;
  }

  .custom-cursor {
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: none;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    mix-blend-mode: difference;
    z-index: 9999;
  }

  .fade-shadow {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 0.58) 68%,
      rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none;
  }

  .swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mySwiper .swiper-slide {
    border: 0px;
    border-radius: 12px;
    opacity: 80%;
  }

  .mySwiper .swiper-slide-thumb-active {
    border: 2px solid #ffffff;
  }

  .scroll-visible {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #9ca3af #1f2937; /* thumb, track */
    -webkit-overflow-scrolling: touch; 
  }

  /* Chrome, Edge, Safari */
  .scroll-visible::-webkit-scrollbar {
    height: 6px;
  }

  .scroll-visible::-webkit-scrollbar-track {
    background: #1f2937;
  }

  .scroll-visible::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 3px;
  }


  .inverted-radius {
    --r: 50px; /* the radius */
    --s: 50px; /* size of inner curve */
    --x: 50px; /* horizontal offset (no percentage) */
    --y: 40px; /* vertical offset (no percentage) */

    border-radius: var(--r);
    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
    --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
    --_d: (var(--s) + var(--r));
    mask:
      calc(100% - var(--_d) - var(--x)) 0 var(--_m),
      100% calc(var(--_d) + var(--y)) var(--_m),
      radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
        calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
      var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
      var(--_g) 0 calc(var(--_d) + var(--y));
    mask-repeat: no-repeat;
  }

  @media (max-width: 1280px) {
    .inverted-radius {
      --r: 40px; /* the radius */
      --s: 40px; /* size of inner curve */
      --x: 30px; /* horizontal offset (no percentage) */
      --y: 20px; /* vertical offset (no percentage) */
    }
  }

  @media (max-width: 640px) {
    .inverted-radius {
      --r: 20px; /* the radius */
      --s: 20px; /* size of inner curve */
      --x: 30px; /* horizontal offset (no percentage) */
      --y: 20px; /* vertical offset (no percentage) */
    }
  }
}
